---
import type { experience } from "../../../public/cv.json"
import images from "./ogimages.json"

interface Props {
  org: (typeof experience)[number]["org"]
}
const { org } = Astro.props
---

<div class="flex break-inside-avoid-page flex-row gap-2">
  <a
    class="not-prose mt-6 flex-shrink-0"
    target="_blank"
    rel="noreferrer"
    href={org.url}
  >
    <img
      loading="eager"
      width={24}
      height={24}
      class="h-6 w-6 object-cover"
      src={org.imgURL ?? images[org.url as keyof typeof images]}
      alt={org.name}
    />
  </a>

  <div class="flex flex-col space-y-0">
    <slot />
  </div>
</div>
