---
import { getCollection, render } from "astro:content"
import MdRoot from "../../layouts/MdRoot.astro"

// noinspection JSUnusedGlobalSymbols
export async function getStaticPaths() {
  const blogEntries = await getCollection("articles")
  const publishedEntries = blogEntries.filter(entry => entry.data.published_at)
  publishedEntries.sort(
    (a, b) =>
      (b.data.published_at?.getTime() ?? 0) - (a.data.published_at?.getTime() ?? 0),
  )
  return publishedEntries.map(entry => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await render(entry)
---

<MdRoot
  frontmatter={{
    title: entry.data.title,
    description: entry.data.description,
  }}
>
  <a href="/">← Home</a>
  <h1>{entry.data.title}</h1>
  <Content />
</MdRoot>
