---
interface Props {
  href: string
  icon: string
  alt: string
}
const { href, icon, alt } = Astro.props
---

<a
  class="flex items-center space-x-1"
  target="_blank"
  rel="noreferrer"
  href={href}
>
  <img class="m-0 h-4 w-4" src={icon} alt={alt} />

  <span>
    {href.replace("mailto:", "").replace("https://", "").replace("tel:", "")}
  </span>
</a>
