---
import { Image } from "astro:assets"

interface Props {
  href: string
  icon: ImageMetadata
  alt: string
}
const { href, icon, alt } = Astro.props
---

<a class="flex items-center gap-1" target="_blank" rel="noreferrer" href={href}>
  <Image class="not-prose" src={icon} alt={alt} height={16} width={16} />

  <span>
    {href.replace("mailto:", "").replace("https://", "").replace("tel:", "")}
  </span>
</a>
