@import "tailwindcss/index.css";
@plugin "@tailwindcss/typography";

@theme {
  --color-date: #6b7280;
}

html {
  color-scheme: light;
  scrollbar-color: #a1a1aa #ffffff;
}

::selection {
  background: #18181b;
  color: #ffffff;
}

:focus-visible {
  border-radius: 2px;
  outline: 2px solid #18181b;
  outline-offset: 4px;
}

@utility hover-underline {
  text-decoration-color: color-mix(in oklab, currentColor 25%, transparent);
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition-duration: var(--default-transition-duration);
  transition-property: text-decoration-color;
  transition-timing-function: var(--default-transition-timing-function);

  &:hover {
    text-decoration-color: currentColor;
  }
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply hover-underline;
}

.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"]) {
  position: relative;
  color: inherit;
  display: block;
  text-decoration-color: transparent;
}

.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"])::before {
  @apply pointer-events-none absolute right-full mr-2 text-zinc-400 opacity-0 transition-opacity;

  content: "#";
}

.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"]:hover) {
  text-decoration-color: currentColor;
}

.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"]:hover)::before,
.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"]:focus-visible)::before {
  @apply opacity-100;
}

.prose
  :where(h1, h2, h3, h4, h5, h6):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )
  > :where(a[href^="#"]:focus-visible) {
  outline: 2px solid currentColor;
  outline-offset: 4px;
}
