---
interface Props {
  title: string
  description?: string
  class?: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description ?? "Personal website"} />
  </head>

  <body class={Astro.props.class}>
    <slot />
  </body>
</html>
