---
import "../styles/global.css"

interface Props {
  title: string
  description?: string | undefined
  class?: string | undefined
  lang?: string | undefined
}

const { title, description, lang = "en" } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description ?? "Personal website"} />
  </head>

  <body class={Astro.props.class}>
    <slot />
  </body>
</html>
